OPENAI_API_KEY=""
ECOS_API_KEY=""

CHAT_MODEL=""
EMBEDDING_MODEL=""

DATA_DIR="/data"

NAVER_CLIENT_ID=""
NAVER_CLIENT_SECRET=""

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="lsv2_..."
LANGSMITH_PROJECT="korea-economy-agent"